meta(charset='utf-8')
title=title + ' - Company Music'
meta(name='description' content=description)
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- link(rel='apple-touch-icon' href='apple-touch-icon.png')