.post-alpha
    .name Sonraki müzik adı Sonraki müzik adı Sonraki müzik adı Sonraki müzik adı Sonraki müzik adı Sonraki müzik adı
    .setting-panel
        .setting-icon
            i.icon-dots-three-vertical