doctype html
html
    head
        include ../includes/head

    body
        .layout-alpha
            include ../includes/header
            block content
        //- inject:js
        script(src="/js/current-music-alpha.js")
        script(src="/js/layout-alpha.js")
        script(src="/js/playlist-alpha.js")
        script(src="/js/post-alpha.js")
        script(src="/js/sticky-menu-alpha.js")
        //- endinject
        include ../includes/footer
        script(src='/socket.io/socket.io.js')
        script.
            var socket = io();