.playlist-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
    include ../post-alpha/post-alpha
