.current-music-alpha
    .inner
        .control-button
            i.icon-play
            i.icon-pause.active
        .line-and-name
            .name(title="Müzik Adı Müzik Adı Müzik Adı Müzik Adı Müzik Adı") Müzik Adı Müzik Adı Müzik Adı Müzik Adı Müzik Adı
            .line
                img(src="/images/test-line.png")
        .setting-panel
            .setting-icon
                i.icon-dots-three-vertical

