.sticky-menu-alpha
    nav
        ul.quad
            li
                a(href="javascript:;" class="mdl-js-button mdl-js-ripple-effect mdl-button--accent")
                    i.icon-volume-high
            li
                a(href="javascript:;" class="mdl-js-button mdl-js-ripple-effect mdl-button--accent")
                    i.icon-vynil
            li
                a(href="javascript:;" class="mdl-js-button mdl-js-ripple-effect mdl-button--accent")
                    i.icon-user
            li
                a(href="javascript:;" class="mdl-js-button mdl-js-ripple-effect mdl-button--accent")
                    i.icon-search


