.sticky-menu-alpha
    nav
        ul.quad
            li
                a(href="javascript:;")
                    i.icon-volume-high
            li
                a(href="javascript:;")
                    i.icon-vynil
            li
                a(href="javascript:;")
                    i.icon-user
            li
                a(href="javascript:;")
                    i.icon-search


