/*------------------------------------*\
    #sticky-menu-alpha
\*------------------------------------*/

/*<-- GLOBAL -->*/
.sticky-menu-alpha{
  background-color: red;
  height: 100px;
  width: 100px;
}
// Usage
/*<-- XS -->*/
@media (max-width: 767px) {
  .sticky-menu-alpha{

  }
}
/*<-- SM -->*/
@media (min-width: 768px) {
  .sticky-menu-alpha{

  }
}
/*<-- MD -->*/
@media (min-width: 992px) {
  .sticky-menu-alpha{

  }
}
/*<-- LG -->*/
@media (min-width: 1200px) {
  .sticky-menu-alpha{

  }
}
